If we wound like to customize these labguage models to spacific use case we can use by spicify a model file

### Data from https://www.kaggle.com/datasets/daverowelvalois/my-expenses-dataset?select=Expenses.xlsx

Note modelsfile syntax is in development

* A model file is the blueprint to create and share models with Ollama *

In [2]:
!pip install langchain_community

Collecting langchain_community
  Downloading langchain_community-0.0.21-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 9.1 MB/s eta 0:00:00a 0:00:010m
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain_community) (3.8.5)
Requirement already satisfied: PyYAML>=5.3 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain_community) (6.0)
Collecting dataclasses-json<0.7,>=0.5.7
  Downloading dataclasses_json-0.6.4-py3-none-any.whl (28 kB)
Collecting langsmith<0.2.0,>=0.1.0
  Downloading langsmith-0.1.5-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 7.9 MB/s eta 0:00:00
Collecting langchain-core<0.2,>=0.1.24
  Downloading langchain_core-0.1.25-py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 26.0 MB/s eta 0:00:00
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain_community) (1.4.39)
Requirement already satisfied: numpy<2,>=1 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain_community) (1.23.5)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain_community) (8.2.3)
Requirement already satisfied: requests<3,>=2 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain_community) (2.31.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.9.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (4.0.2)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.0.4)
Requirement already satisfied: attrs>=17.3.0 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (22.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.0)
Collecting marshmallow<4.0.0,>=3.18.0
  Downloading marshmallow-3.20.2-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 7.7 MB/s eta 0:00:00
Collecting typing-inspect<1,>=0.4.0
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Collecting jsonpatch<2.0,>=1.33
  Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: anyio<5,>=3 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain-core<0.2,>=0.1.24->langchain_community) (3.5.0)
Collecting packaging<24.0,>=23.2
  Downloading packaging-23.2-py3-none-any.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 7.8 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=1 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from langchain-core<0.2,>=0.1.24->langchain_community) (2.5.3)
Requirement already satisfied: idna<4,>=2.5 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from requests<3,>=2->langchain_community) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from requests<3,>=2->langchain_community) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from requests<3,>=2->langchain_community) (2022.12.7)
Requirement already satisfied: sniffio>=1.1 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from anyio<5,>=3->langchain-core<0.2,>=0.1.24->langchain_community) (1.2.0)
Requirement already satisfied: jsonpointer>=1.9 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.2,>=0.1.24->langchain_community) (2.1)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from pydantic<3,>=1->langchain-core<0.2,>=0.1.24->langchain_community) (4.9.0)
Requirement already satisfied: pydantic-core==2.14.6 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from pydantic<3,>=1->langchain-core<0.2,>=0.1.24->langchain_community) (2.14.6)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from pydantic<3,>=1->langchain-core<0.2,>=0.1.24->langchain_community) (0.6.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Users/m1.thibsuda/anaconda3/lib/python3.10/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (0.4.3)
Installing collected packages: typing-inspect, packaging, jsonpatch, marshmallow, langsmith, dataclasses-json, langchain-core, langchain_community
  Attempting uninstall: packaging
    Found existing installation: packaging 22.0
    Uninstalling packaging-22.0:
      Successfully uninstalled packaging-22.0
  Attempting uninstall: jsonpatch
    Found existing installation: jsonpatch 1.32
    Uninstalling jsonpatch-1.32:
      Successfully uninstalled jsonpatch-1.32
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-macos 2.13.0 requires typing-extensions<4.6.0,>=3.6.6, but you have typing-extensions 4.9.0 which is incompatible.
Successfully installed dataclasses-json-0.6.4 jsonpatch-1.33 langchain-core-0.1.25 langchain_community-0.0.21 langsmith-0.1.5 marshmallow-3.20.2 packaging-23.2 typing-inspect-0.9.0

In [26]:
from langchain_community.llms import Ollama

Find model name link https://ollama.com/library

In [126]:
#Spacify the name of model 

llm = Ollama(model="llama2")
#llm.invoke("The first man on the moon was...")

In [147]:
import pandas as pd

df = pd.read_csv("Expenses2020-2022.csv")
df

,Date,Expenses,Category,Amount,Municipality,Province,Region,ID
0,1/15/2020,Transportation,Survival,41.00,Quezon City,Metro Manila,National Capital Region,E2020-1
1,1/15/2020,Transportation,Survival,40.00,Quezon City,Metro Manila,National Capital Region,E2020-2
2,1/16/2020,Food/Drinks,Optional,35.00,Quezon City,Metro Manila,National Capital Region,E2020-3
3,1/16/2020,Eating/Going Out,Optional,139.00,Quezon City,Metro Manila,National Capital Region,E2020-4
4,1/16/2020,Transportation,Survival,40.00,Quezon City,Metro Manila,National Capital Region,E2020-5
...,...,...,...,...,...,...,...,...
1180,8/30/2022,Eating/Going Out,Optional,3000.00,Pilar,Capiz,Western Visayas,E2022-163
1181,8/31/2022,Credit Card Payment,Obligation,1193.59,Pontevedra,Capiz,Western Visayas,E2022-164
1182,8/31/2022,Credit Card Payment,Obligation,1863.00,Makati City,Metro Manila,National Capital Region,E2022-165
1183,8/31/2022,Home,Obligation,3000.00,Pontevedra,Capiz,Western Visayas,E2022-166
1184,8/31/2022,Apartment,Obligation,1000.00,Quezon City,Metro Manila,Western Visayas,E2022-167

In [148]:
df.tail(10)

,Date,Expenses,Category,Amount,Municipality,Province,Region,ID
1175,8/16/2022,SSS,Obligation,1300.00,Makati City,Metro Manila,National Capital Region,E2022-158
1176,8/16/2022,Debt repayment,Obligation,2284.67,Pontevedra,Capiz,Western Visayas,E2022-159
1177,8/16/2022,Transportation,Survival,600.00,Roxas City,Capiz,Western Visayas,E2022-160
1178,8/17/2022,Food/Drinks,Optional,200.00,Pontevedra,Capiz,Western Visayas,E2022-161
1179,8/23/2022,Home,Obligation,3000.00,Pontevedra,Capiz,Western Visayas,E2022-162
1180,8/30/2022,Eating/Going Out,Optional,3000.00,Pilar,Capiz,Western Visayas,E2022-163
1181,8/31/2022,Credit Card Payment,Obligation,1193.59,Pontevedra,Capiz,Western Visayas,E2022-164
1182,8/31/2022,Credit Card Payment,Obligation,1863.00,Makati City,Metro Manila,National Capital Region,E2022-165
1183,8/31/2022,Home,Obligation,3000.00,Pontevedra,Capiz,Western Visayas,E2022-166
1184,8/31/2022,Apartment,Obligation,1000.00,Quezon City,Metro Manila,Western Visayas,E2022-167

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185 entries, 0 to 1184
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1185 non-null   object
 1   Expenses      1185 non-null   object
 2   Category      1185 non-null   object
 3   Amount        1185 non-null   float64
 4   Municipality  1185 non-null   object
 5   Province      1185 non-null   object
 6   Region        1185 non-null   object
 7   ID            1185 non-null   object
dtypes: float64(1), object(7)
memory usage: 74.2+ KB

In [150]:
#Get unique transections in the Exp type

unique_exp = df["Expenses"].unique()
unique_exp

array(['Transportation', 'Food/Drinks', 'Eating/Going Out', 'Grocery',
       'Home', 'Electricity/Water', 'Phone/Internet',
       'Clothing/Shoes/Personal Items', 'Debt repayment', 'Hair Cut',
       'Garbage', 'Personal care items (drugstore)',
       'Entertainment/Subscriptions', 'Others',
       'Magazines/Newspapers/Books', 'Apartment', 'Bank fees',
       'Pension Fund', 'Healthcare', 'Health Insurance', 'Cable', 'SSS',
       'PhilHealth', 'Credit Card Payment', 'Revi Credit'], dtype=object)

## Find the way to insert all this different expenses into our prompt

In [133]:
# get a uniqe to use into loop later on
len(unique_exp)

25

* NOTE *  If unique it big list it  might be taking too many tokens and excess limit that the large language model has.If we insert with the huge list into our prompt the model will get back a nonsensical answer. Because our qustion is alrady taking too many tokens


The most optimal response is 30. Below is an exampel of the data that have more than 300 label

### Create a for loop to Loop through to our bank statement of data. that that will take in 30 transections at a time

In [151]:
# Get index list funtion

def hop(start,stop,step):
    for i in range(start,stop,step):
        yield i
    yield stop
    
index_list = list(hop(0,len(unique_exp),30))#in this data has only 25 unique expense
index_list

[0, 25]

## Prompt funtion

* spacific clear prompt to get better result

"Can you add an appropriate category based General Ledger (GL) code for accounting to the following expenses. For example:Super Duper - 66503 Food/Drink/Eating, Food - 66503 Food/Drink/Eating, Health Insuranc - 63502 Insurance Workers Comp,Bank fees - 65009 Bank Service Fees,Taxi Utrecht- 66501 Transportation, Credits Card Payment - 60000-010 credit card payment,Home Apartment- 694835 Property  ,etc.. Categories should be less than 4 words. " + transaction_names"

In [152]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category based General Ledger (GL) code for accounting to the following expenses. For example:Super Duper - 66503 Food/Drink Health Insuranc - 63502 Insurance - Workers Comp  etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put result in dataframe *spcifify what column do we need 
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction','GL code']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [153]:
# Test out the function

categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht,Etos AMSTERDAM NLD,Bistro Bar Amsterdam', llm)

['Certainly! Here are the appropriate General Ledger (GL) codes for each of the expenses you provided:', '', '1. Super Duper - 66503 Food/Drink', '2. ISS Catering Services De Meern - 64502 Food/Drink', '3. Taxi Utrecht - 63502 Insurance - Transportation', '4. Etos AMSTERDAM NLD - 64502 Food/Drink', '5. Bistro Bar Amsterdam - 63502 Insurance - Hospitality', '', "Note that these are just examples of common GL codes used in accounting, and the actual codes used by your organization may vary depending on their specific financial reporting needs and practices. It's important to consult with your accounting or financial department to determine the appropriate GL codes for your expenses."]

ValueError: Columns must be same length as key

It looks like the error is occurring because the number of columns you are trying to assign in the line categories_df[['Transaction','GL code']] = ... is not the same as the number of columns in the DataFrame categories_df.

In the provided GL code response, there are no transactions, and the GL code categories are listed as bullet points. Therefore, attempting to split the "Transaction vs category" column into "Transaction" and "GL code" columns using ' - ' as the separator is causing the ValueError.

You may need to adapt your code to handle cases where there are no transactions returned or handle such responses differently. For example, you could check if there are transactions before attempting to split the column.

Here's an updated version of your function that checks for the presence of transactions:

In [197]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category based General Ledger (GL) code for accounting to the following expenses. For example:Super Duper - 66503 Food/Drink/Eating, Food - 66503 Food/Drink/Eating, Health Insuranc - 63502 Insurance Workers Comp,Bank fees - 65009 Bank Service Fees,Taxi Utrecht- 66501 Transportation, Credits Card Payment - 60000-010 credit card payment,Home Apartment- 694835 Property  ,etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    # Check if there are transactions in the response
    if response[2:]:
        # Transactions are present, proceed to create DataFrame
        print(response)
        categories_df = pd.DataFrame({'Transaction vs category': response[2:]})
        categories_df[['Transaction','GL code']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
        return categories_df
    else:
        # No transactions, return an empty DataFrame or handle accordingly
        return pd.DataFrame()

In [198]:
# Test out the function

categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht,Etos AMSTERDAM NLD,Bistro Bar Amsterdam', llm)

['Certainly! Here are the appropriate GL codes for each of the expenses you provided:', '', '1. Super Duper - 66503 Food/Drink/Eating', '2. Food - 66503 Food/Drink/Eating', '3. Health Insurance - 63502 Insurance Workers Comp', '4. Bank Fees - 65009 Bank Service Fees', '5. Taxi Utrecht - 66501 Transportation', '6. Credit Card Payment - 60000-010 credit card payment', '7. Home Apartment - 694835 Property', '', 'Note: The GL codes are based on the categories you provided and are less than 4 words.']

,Transaction vs category,Transaction,GL code
0,1. Super Duper - 66503 Food/Drink/Eating,1. Super Duper,66503 Food/Drink/Eating
1,2. Food - 66503 Food/Drink/Eating,2. Food,66503 Food/Drink/Eating
2,3. Health Insurance - 63502 Insurance Workers ...,3. Health Insurance,63502 Insurance Workers Comp
3,4. Bank Fees - 65009 Bank Service Fees,4. Bank Fees,65009 Bank Service Fees
4,5. Taxi Utrecht - 66501 Transportation,5. Taxi Utrecht,66501 Transportation
5,6. Credit Card Payment - 60000-010 credit card...,6. Credit Card Payment,60000-010 credit card payment
6,7. Home Apartment - 694835 Property,7. Home Apartment,694835 Property
7,,,None
8,Note: The GL codes are based on the categories...,Note: The GL codes are based on the categories...,None

# Initialise a data frame to store for all unique transection and the respond category

In [199]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_exp[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['Certainly! Here are the appropriate GL codes for each expense category you provided:', '', '1. Food/Drink/Eating - 66503', '2. Transportation - 66501', '3. Eating/Going Out - 66503', '4. Grocery - 694835', '5. Home - 694835', '6. Electricity/Water - 65009', '7. Phone/Internet - 65009', '8. Clothing/Shoes/Personal Items - 60000-010', '9. Debt repayment - 60000-020', '10. Hair Cut - 60000-030', '11. Garbage - 60000-040', '12. Personal care items (drugstore) - 60000-050', '13. Entertainment/Subscriptions - 60000-060', '14. Others - 60000-070', '15. Magazines/Newspapers/Books - 60000-080', '16. Apartment - 694835', '17. Bank fees - 65009', '18. Pension Fund - 63502', '19. Healthcare - 63502', '20. Health Insurance - 63502', '21. Cable - 65009', '22. SSS - 63502', '23. PhilHealth - 63502', '24. Credit Card Payment - 60000-010', '25. Revi Credit - 60000-090', '', "Please note that these are just some examples of GL codes commonly used in accounting, and the actual GL code used may vary depending on the specific needs and requirements of your organization. It's important to consult with a professional accountant or financial advisor to ensure you are using the appropriate GL codes for your business."]

In [201]:
categories_df_all

,Transaction vs category,Transaction,GL code
0,1. Food/Drink/Eating - 66503,1. Food/Drink/Eating,66503
1,2. Transportation - 66501,2. Transportation,66501
2,3. Eating/Going Out - 66503,3. Eating/Going Out,66503
3,4. Grocery - 694835,4. Grocery,694835
4,5. Home - 694835,5. Home,694835
5,6. Electricity/Water - 65009,6. Electricity/Water,65009
6,7. Phone/Internet - 65009,7. Phone/Internet,65009
7,8. Clothing/Shoes/Personal Items - 60000-010,8. Clothing/Shoes/Personal Items,60000-010
8,9. Debt repayment - 60000-020,9. Debt repayment,60000-020
9,10. Hair Cut - 60000-030,10. Hair Cut,60000-030
10,11. Garbage - 60000-040,11. Garbage,60000-040
11,12. Personal care items (drugstore) - 60000-050,12. Personal care items (drugstore),60000-050
12,13. Entertainment/Subscriptions - 60000-060,13. Entertainment/Subscriptions,60000-060
13,14. Others - 60000-070,14. Others,60000-070
14,15. Magazines/Newspapers/Books - 60000-080,15. Magazines/Newspapers/Books,60000-080
15,16. Apartment - 694835,16. Apartment,694835
16,17. Bank fees - 65009,17. Bank fees,65009
17,18. Pension Fund - 63502,18. Pension Fund,63502
18,19. Healthcare - 63502,19. Healthcare,63502
19,20. Health Insurance - 63502,20. Health Insurance,63502
20,21. Cable - 65009,21. Cable,65009
21,22. SSS - 63502,22. SSS,63502
22,23. PhilHealth - 63502,23. PhilHealth,63502
23,24. Credit Card Payment - 60000-010,24. Credit Card Payment,60000-010
24,25. Revi Credit - 60000-090,25. Revi Credit,60000-090
25,,,None
26,Please note that these are just some examples ...,Please note that these are just some examples ...,None

In [202]:
categories_df_all.to_csv("categories_df_all.csv", index=False)

In [203]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["GL code"].unique()
unique_categories

array(['66503', '66501', '694835', '65009', '60000-010', '60000-020',
       '60000-030', '60000-040', '60000-050', '60000-060', '60000-070',
       '60000-080', '63502', '60000-090', None], dtype=object)

In [75]:
# Drop NA values
#categories_df_all = categories_df_all.dropna()

In [ ]:
# Group category by hand (change cell to code to see instruction)

## If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
## If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
## If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
## If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
## If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
## If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [213]:
# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Transaction'].str.contains("Food"), 'Transaction'] = "Food/Drinks"

.str.replace(): This is a string method in pandas that allows you to replace a specified pattern in each string of a Series with another string.

r'\d+\.s+': This is a regular expression (regex) pattern that is used to match a sequence of digits (\d+) followed by a dot (\.) and one or more whitespace characters (\s+). Here, it seems there is a typo, and it should be r'\d+\s+' to correctly match a sequence of digits followed by one or more whitespace characters.

In [214]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

/var/folders/x1/yzw33xpx46l4fmfs861jzx1c0000gn/T/ipykernel_22238/4114681118.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')

,Transaction vs category,Transaction,GL code
0,1. Food/Drink/Eating - 66503,Food/Drinks,66503
1,2. Transportation - 66501,Transportation,66501
2,3. Eating/Going Out - 66503,Eating/Going Out,66503
3,4. Grocery - 694835,Grocery,694835
4,5. Home - 694835,Home,694835
5,6. Electricity/Water - 65009,Electricity/Water,65009
6,7. Phone/Internet - 65009,Phone/Internet,65009
7,8. Clothing/Shoes/Personal Items - 60000-010,Clothing/Shoes/Personal Items,60000-010
8,9. Debt repayment - 60000-020,Debt repayment,60000-020
9,10. Hair Cut - 60000-030,Hair Cut,60000-030
10,11. Garbage - 60000-040,Garbage,60000-040
11,12. Personal care items (drugstore) - 60000-050,Personal care items (drugstore),60000-050
12,13. Entertainment/Subscriptions - 60000-060,Entertainment/Subscriptions,60000-060
13,14. Others - 60000-070,Others,60000-070
14,15. Magazines/Newspapers/Books - 60000-080,Magazines/Newspapers/Books,60000-080
15,16. Apartment - 694835,Apartment,694835
16,17. Bank fees - 65009,Bank fees,65009
17,18. Pension Fund - 63502,Pension Fund,63502
18,19. Healthcare - 63502,Healthcare,63502
19,20. Health Insurance - 63502,Health Insurance,63502
20,21. Cable - 65009,Cable,65009
21,22. SSS - 63502,SSS,63502
22,23. PhilHealth - 63502,PhilHealth,63502
23,24. Credit Card Payment - 60000-010,Credit Card Payment,60000-010
24,25. Revi Credit - 60000-090,Revi Credit,60000-090
25,,,None
26,Please note that these are just some examples ...,Please note that these are just some examples ...,None

In [221]:
df = pd.read_csv("Expenses2020-2022.csv")
df.loc[df['Expenses'].str.contains("Super Duper"), 'Expenses'] = "Super Duper"
df = pd.merge(df, categories_df_all, left_on='Expenses', right_on='Transaction', how='left')
df

,Date,Expenses,Category,Amount,Municipality,Province,Region,ID,Transaction vs category,Transaction,GL code
0,1/15/2020,Transportation,Survival,41.00,Quezon City,Metro Manila,National Capital Region,E2020-1,2. Transportation - 66501,Transportation,66501
1,1/15/2020,Transportation,Survival,40.00,Quezon City,Metro Manila,National Capital Region,E2020-2,2. Transportation - 66501,Transportation,66501
2,1/16/2020,Food/Drinks,Optional,35.00,Quezon City,Metro Manila,National Capital Region,E2020-3,1. Food/Drink/Eating - 66503,Food/Drinks,66503
3,1/16/2020,Eating/Going Out,Optional,139.00,Quezon City,Metro Manila,National Capital Region,E2020-4,3. Eating/Going Out - 66503,Eating/Going Out,66503
4,1/16/2020,Transportation,Survival,40.00,Quezon City,Metro Manila,National Capital Region,E2020-5,2. Transportation - 66501,Transportation,66501
...,...,...,...,...,...,...,...,...,...,...,...
1180,8/30/2022,Eating/Going Out,Optional,3000.00,Pilar,Capiz,Western Visayas,E2022-163,3. Eating/Going Out - 66503,Eating/Going Out,66503
1181,8/31/2022,Credit Card Payment,Obligation,1193.59,Pontevedra,Capiz,Western Visayas,E2022-164,24. Credit Card Payment - 60000-010,Credit Card Payment,60000-010
1182,8/31/2022,Credit Card Payment,Obligation,1863.00,Makati City,Metro Manila,National Capital Region,E2022-165,24. Credit Card Payment - 60000-010,Credit Card Payment,60000-010
1183,8/31/2022,Home,Obligation,3000.00,Pontevedra,Capiz,Western Visayas,E2022-166,5. Home - 694835,Home,694835
1184,8/31/2022,Apartment,Obligation,1000.00,Quezon City,Metro Manila,Western Visayas,E2022-167,16. Apartment - 694835,Apartment,694835

In [222]:
df.tail(10)

,Date,Expenses,Category,Amount,Municipality,Province,Region,ID,Transaction vs category,Transaction,GL code
1175,8/16/2022,SSS,Obligation,1300.00,Makati City,Metro Manila,National Capital Region,E2022-158,22. SSS - 63502,SSS,63502
1176,8/16/2022,Debt repayment,Obligation,2284.67,Pontevedra,Capiz,Western Visayas,E2022-159,9. Debt repayment - 60000-020,Debt repayment,60000-020
1177,8/16/2022,Transportation,Survival,600.00,Roxas City,Capiz,Western Visayas,E2022-160,2. Transportation - 66501,Transportation,66501
1178,8/17/2022,Food/Drinks,Optional,200.00,Pontevedra,Capiz,Western Visayas,E2022-161,1. Food/Drink/Eating - 66503,Food/Drinks,66503
1179,8/23/2022,Home,Obligation,3000.00,Pontevedra,Capiz,Western Visayas,E2022-162,5. Home - 694835,Home,694835
1180,8/30/2022,Eating/Going Out,Optional,3000.00,Pilar,Capiz,Western Visayas,E2022-163,3. Eating/Going Out - 66503,Eating/Going Out,66503
1181,8/31/2022,Credit Card Payment,Obligation,1193.59,Pontevedra,Capiz,Western Visayas,E2022-164,24. Credit Card Payment - 60000-010,Credit Card Payment,60000-010
1182,8/31/2022,Credit Card Payment,Obligation,1863.00,Makati City,Metro Manila,National Capital Region,E2022-165,24. Credit Card Payment - 60000-010,Credit Card Payment,60000-010
1183,8/31/2022,Home,Obligation,3000.00,Pontevedra,Capiz,Western Visayas,E2022-166,5. Home - 694835,Home,694835
1184,8/31/2022,Apartment,Obligation,1000.00,Quezon City,Metro Manila,Western Visayas,E2022-167,16. Apartment - 694835,Apartment,694835

# Check Missing value

In [220]:
df.isna().sum()

Date                       0
Expenses                   0
Category                   0
Amount                     0
Municipality               0
Province                   0
Region                     0
ID                         0
Transaction vs category    0
Transaction                0
GL code                    0
dtype: int64

In [223]:
df.to_csv("transection_2022_2033_categorized.csv",index=False)

In [227]:
df["Category"]

0         Survival
1         Survival
2         Optional
3         Optional
4         Survival
           ...
1180      Optional
1181    Obligation
1182    Obligation
1183    Obligation
1184    Obligation
Name: Category, Length: 1185, dtype: object